
/*Base page*/

#content{
    width: 100%;
    background-color: #fff;
}

body{
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 0px auto;
    background-color: #136F63;
    width: 100%;
}

header, footer, #main{
    padding: 1em 0;
}

header, footer{
    width: 100%;
    background-color: #55bcc9;
    display: block;
}

.content{
    width:90%;
    margin: 0px auto;
}

/*Header Section*/

header li{
    display: inline;
    text-transform: uppercase;
    padding: 0px 10px;
    border-right: 1px solid #000;
    font-weight: bold;
}

header li:last-child{
    border: none;
}

header a:link{
    color: #fff;
    text-decoration: none;
}

header a:visited{
    color: #fff;
}

header a:hover{
    color: #041b15;
    transition: 0.5s;
}

header a:active{
    color:yellow;
}

/*Main Section*/

#main{
    background-color: #cafafe;
    min-height: 55em;
}

/*Navbar Section*/

#navbar{
    margin: 5em auto;
    width: 100%;
}

.navbarside{
    width: 49%;
    display:inline-block
}

.navitem{
    width: 80%;
    height: 10em;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    margin: 20px auto;
}

.navtop{
    background-color: #3feee6;
}

.navitem a{
    display:block;
    margin: 0px auto;
    text-align: center;
    height: 100%;
    font-size: 200%;
    padding-top: 1.5em;
    text-transform: capitalize;
    text-decoration: none;
}

.navitem a:link{
    color: #000;
}
.navitem a:visited{
    color: #000;
}
.navitem a:hover{
    color: #000;
    background-color: #fc4445;
    transition: 0.9s;
    border-radius: 20px;
}
.navitem a:active{
    color:yellow
}
/*Footer Section*/

/*Checkout page*/

li {
    list-style-type: none;
}

a{
text-decoration: none;
color: black;
}

button{
    text-decoration: none;
    border: none;
}

#giftcard{
    display: none;
}

#creditcard{
    display: block;
}

.row {
    display: -ms-flexbox; /* IE10 /
    display: flex;
    -ms-flex-wrap: wrap; / IE10 /
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%; / IE10 /
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%; / IE10 /
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%; / IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
} 

span.price {
    float: right;
    color: grey;
}

/* add_product page */

.add_form{
    color:white;
border-radius: 20px;
border-color:#000;
display: flex;
-ms-flex-align: center;
background-color: #000;
align-items: center;
justify-content: center;
width: 25%;
margin:0px auto;
margin-top:10%;
padding:20px 10px 10px 10px;
}

/* end of add product */

/* returns page */

.form_return{
    color:white;
border-radius: 20px;
border-color:#000;
display: flex;
-ms-flex-align: center;
background-color: #000;
align-items: center;
justify-content: center;
width: 25%;
margin:0px auto;
margin-top:10%;
flex-direction: column;
padding:30px 30px 30px 30px
}

/* returns page end */
