
<div id="add_form" style="
color:white;
border-radius: 20px;
border-color:#000;
display: flex;
-ms-flex-align: center;
background-color: #000;
align-items: center;
justify-content: center;
width: 25%;
margin:0px auto;
margin-top:10%;
padding:20px 10px 10px 10px;">
    <form action="add_product">
        <label for="product_name">Product Name: </label><br>
        <input type="text" name="product_name" id="Product_name"><br><br>
        <label for="vendor_email">Vendor Email: </label><br>
        <input type="text" id="email" name="email"><br><br>
        <label for="product_description">Description: </label><br>
        <input type="text" id="product_description" name="product_description"><br><br>
        <label for="warranty_date">Warranty date:</label><br>
        <input type="text" id="warranty_date" name="warranty_date"><br><br>
        <label for="inventory">Inventory: </label><br>
        <input type="number" id="inventory" name="inventory"><br><br>
        <label for="price">Price:</label><br>
        <input type="number" min="1" step="any">
        </form>
</div>