<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            Home Page
        </title>
        <link href="../static/style.css" rel="stylesheet" type="text/css">
    </head>
    <header>
        <p>
            This is the header
        </p>
        <ul>
            <li>
                <a href="xxx.html">link</a>
            </li>
            <li>
                <a href="xxx.html">link</a>
            </li>
            <li>
                <a href="xxx.html">link</a>
            </li>
            <li>
                <a href="xxx.html">link</a>
            </li>
        </ul>
    </header>
    <body>
        {% block body %}
        {% endblock %}
    </body>
    <footer>
        <h3>
            This is the footer
        </h3>
        <p>
            Goof Troop 2023. All rights reserved. 
        </p>
    </footer>
</html>
