{% extends "base.html" %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>

<div class="main">
    <div class="top">
        <h1>Cart</h1>
        <div>
            <ul class="list">
                <li>Yes</li>
                <li>NO</li>
                <li>WHY ARE WE HERE</li>
            </ul>
        </div>
    </div>
</div>
            
{% endblock %}

