{% extends "base.html" %}
{% block body %}
<div>
    <h1>Active chats: </h1>
    {% for chat in chat_messages %}
        <div class="col-50 mt-3 border-top pt-4">
            {{chat['chat_id']}}
        </div>
        <div class="col-50 mt-3 border-top pt-4">
            {{chat['message']}}
        </div>
        <div class="col-50 mt-3 border-top pt-4">
            {{chat['image_link']}}
        </div>
        <div class="col-50 mt-3 border-top pt-4">
          {{chat['message_time']}}
      </div>
    {% endfor %}
</div>

{% endblock %}