{% extends "base.html" %}
{% block body %}

{%if chats%}
  <h1>Active chats: </h1>
  {% for chat in chats %}
    <div class = 'w-100 d-flex justify-content-center'>
      <a href="{{url_for('chat_messages', id = chat['chat_id'])}}">
        <button class="btn btn-secondary">
          <h6>chat number: {{chat['chat_id']}}</h6>
          
          <h6>Between {{chat['email1']}} and {{chat['email2']}}</h6>
        </button>
      </a>
      
    </div>
  {% endfor %}
{%endif%}
<div class="main-container">
  <div class="bg-dark rounded ">
    <form action="/chats/{{id}}/send" method="POST" class="d-flex justify-content-between pt-3 pe-1 ps-1">
        <textarea type="text" name="message" class="form-control me-3 mb-3" placeholder="Write message..."></textarea>
        <input type="submit" value="Send" class = "h-75 btn btn-success">
      </form>
  </div>
  <div class="bg-white">
    {% for chat in chat_messages %}
    <div class="col-50 mt-3 border-top pt-4">
      <h6>chat number:</h6>
      {{chat['chat_id']}}
      <h6>message:</h6>
      {{chat['message']}}
      <h6>Link:</h6>
      {{chat['image_link']}}
      <h6>Time:</h6>
      {{chat['message_time']}}
    </div>
{% endfor %}
  </div>
</div>




{% endblock %}