<div>
    <form action="new_review">
        <input type="hidden" name="product_id">
        <label for="rating">Rating: </label><br>
        <input type="radio" name="rating" id="rating">
        <label for="one">1</label>
        <input type="radio" name="rating" id="rating">
        <label for="two">2</label>
        <input type="radio" name="rating" id="rating">
        <label for="three">3</label>
        <input type="radio" name="rating" id="rating">
        <label for="four">4</label>
        <input type="radio" name="rating" id="rating">
        <label for="five">5</label><br><br>
        <label for="review_description">Description: </label><br>
        <input type="text" name="review_description" id="review_description"><br><br>
        <label for="review_image_link">Image Link: </label><br>
        <input type="text" name="review_image_link" id="review_image_link">
    </form>
</div>

<!--     product_id (hidden input)
    rating int range from 1-5
    review_description text area
    review_image_link text -->