{% extends "base.html" %}
{% block body %}
<!--new_product.html original
    <form action="/products/new" method="POST">
        <label for="product_name">Product Name: </label><br>
        <input type="text" name="product_name" id="Product_name"><br><br>
        <label for="email">Vendor Email: </label><br>
        <input type="text" id="email" name="email"><br><br>
        <label for="product_description">Description: </label><br>
        <textarea style="height:8em;"class="w-100" id="product_description" name="product_description"></textarea><br><br>
        <label for="inventory">Inventory: </label><br>
        <input type="number" min="1" id="inventory" name="inventory"><br><br>
        <label for="price">Price:</label><br>
        <input type="number" id="price" name="price" min="1" step="any">
        <input type="submit">
    </form>
-->

<div>
    <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
              <div class="card-body p-4 p-md-5">

                <h2 class="pb-md-0 mb-md-4">Add New Product</h2>
                <p class="text-black-50 mb-5">Please select or fill in all of the information below</p>

                <form action="/products/new" method="POST">
                    <div class="row">
                        <div class="form-outline form-white mb-4">
                            <input type="text" name="product_name" id="Product_name" class="form-control form-control-lg mb-1" placeholder="Blue Shoes">
                            <label for="product_name">Product Name</label>

                        </div>
                        <div class="form-outline form-white mb-4">
                            <input type="text" id="email" class="form-control form-control-lg mb-1" name="email" placeholder="johndoe1@gmail.com">
                            <label for="email">Vendor Email</label>
                        </div>
                        <div class="form-outline form-white mb-4">
                            <textarea id="product_description" class="form-control form-control-lg mb-1" name="product_description" placeholder="Blue shoes with white laces"></textarea>
                            <label for="product_description">Description</label>
                        </div>
                        <div class="form-outline form-white mb-4">
                            <input type="number" min="1" id="inventory" class="form-control form-control-lg mb-1" name="inventory">
                            <label for="inventory">Inventory</label>
                        </div>
                        <div class="form-outline form-white mb-4">
                            <input type="number" id="price" class="form-control form-control-lg mb-1" name="price" min="1" step="any">
                            <label for="price">Price</label>
                        </div>
                        <div class="mt-4 pt-2">
                            <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                        </div>
                    </div>
                </form>

                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>      
{%endblock%}