{% extends "base.html" %}
{% block body %}
<!--new_return.html original
    <form action="/returns/process" method="POST">
        <input type="hidden" id="order_id" value="{{order_id}}" name="order_id"><br><br>
        <label for="title">Title: </label><br>
        <input type="text" id="title" name="title"><br><br>
        <label for="description">Description: </label><br>
        <textarea class = "w-100" style="min-height: 10em;" id="description" name="description"></textarea><br><br>
        <label for="demand">Demand: </label>
        <select name="demand" id="deamnd">
            <option value="return">Return</option>
            <option value="refund">Refund</option>
            <option value="warranty">Warranty</option>
        </select>
        <input type="submit" class="ms-5 btn btn-primary">
    </form>
-->

<div>
    <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
              <div class="card-body p-4 p-md-5">

                <h2 class="pb-md-0 mb-md-4">New Return</h2>
                <p class="text-black-50 mb-5">Please select or fill in all of the information below</p>

                <form action="/returns/process" method="POST">
                    <div class="row">
                        <input type="hidden" id="order_id" value="{{order_id}}" name="order_id">
                        <div class="form-outline form-white mb-4">
                            <input type="text" id="title" class="form-control form-control-lg mb-1" name="title" placeholder="Wrong color blue shoe">
                            <label for="title">Title: </label>
                        </div>

                        <div class="form-outline form-white mb-4">
                            <textarea  class="form-control form-control-lg mb-1" id="return_description" name="description" placeholder="The blue shoe that I bought is red!"></textarea>
                            <label for="description">Description: </label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <select class="select form-control-lg mb-1" name="demand" id="demand">                        
                                <option value="return">Return</option>
                                <option value="refund">Refund</option>
                                <option value="warranty">Warranty</option>                    
                            </select>
                            <label class="form-label d-flex m-1" for="demand">Choose option for demand</label>
                          </div>
                    </div>
                    <div class="mt-4 pt-2">
                        <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                    </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>    
{% endblock %}


    