{% extends "base.html" %}
{% block body %}


<script>
    // check if user cart exists
    try{
        cart = {{session['cart'] | tojson}}
        
    }
    catch(error){
        cart = {}

    }
    console.log(cart)
   
    window.addEventListener('DOMContentLoaded', () => {
        document.getElementById('item-count').innerHTML = cart_item_total()
    })
    function cart_item_total(){
        sum = 0;
        if(cart != null){
            
            keys = Object.keys(cart)


            
            for(var x = 0; x < keys.length; x++){
                sum += Number(cart[keys[x]])
            }
        }
        return sum
    }
    function add_to_cart(id){
        if(cart == {} || cart[id] == null){
            cart[id] = 1
        }
        else{
            cart[id] +=1
            console.log("else" +cart[id])
        }
        
        console.log(cart)
        $.ajax({
            type: "POST",
            url: "/products",
            data: JSON.stringify(cart),
            contentType: "application/json",
            dataType: 'json' 
          });
        document.getElementById('item-count').innerHTML = cart_item_total()
    }
</script>

<div class="d-block">
    <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
              <div class="card-body p-4 p-md-5 d-block">

                <h2 class="pb-md-0 mb-md-4">Products</h2>
                <h5>Number of Cart Items: <span id = "item-count"></span></h5>
                {%if session['user']['type'] == 'vendor' or session['user']['type'] == 'admin'%}
                   <a href="{{url_for('new_product')}}"><button class="btn btn-success">Create a new Product</button></a> 
                {%endif%}
                <div class="">
                    
                    {% for product in products %}
                    <div class="mt-3 border-top pt-4 d-flex justify-content-between">
                        <div class="">
                            <h3 id="product-name">{{ product['product_name'] }}</h3>
                            <h5 id="product-vendor">From 
                                {% for vendor in vendors %}
                                    {% if vendor[1] == product['email'] %}
                                        {%set vendor_email = product['email']%}
                                        
                                        {{vendor[0]}}
                                    {% endif %}
                                {% endfor %}
                            </h5>
                            <!-- Review -->
                            {%set id = product['product_id']%}
                            <a href="{{url_for('reviews_specefic',id=id)}}"><button class="mt-3 mb-3">Reviews for this Product</button></a>
                            <!-- End review -->
                            <p>
                                Description: {{product['product_description']}}
                            </p>
                            <h3 id='product-price'>{{ product['price'] }}</h3>
                            <img id = 'product-image' src="" alt="">
                        
                            <button id="{{product['product_id']}}" class="btn btn-primary btn-lg" onclick="add_to_cart({{product['product_id']}})">Add to Cart</button>
                            
                        </div>
                        {%if product['email'] == session['user']['email'] or session['user']['type'] == 'admin'%}
                        <!-- product controls -->                        
                        <div class="">
                            <br><br>
                            {% for vendor in vendors %}
                                {% if vendor[1] == product['email'] %}
                                    {%set vendor_email = product['email']%}
                                    <form action="/products/edit" method="POST">
                                        <input type="hidden" name="product_id" value="{{product['product_id']}}">
                                        <input type ='hidden' name = 'vendor_email' value="{{vendor_email}}">
                                        <input type="submit" class="btn btn-success" value="Edit Product">
                                    </form>
                                {% endif %}
                            {% endfor %}  
                            <br>                          
                            <form action="/products/delete" method="POST">
                                <input type="hidden" name="product_id" value="{{product['product_id']}}">
                                <!-- <input type ='hidden' name = 'vendor_email' value="{{vendor_email}}"> -->
                                <input type="submit" class="btn btn-danger" value="Delete Product">
                            </form>
                        </div>
                    {%endif%}
                    </div>
                    
                    
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>  

<!--products.html original
<div>
    <h1> Products </h1>
    <h5># Cart Items: <span id = "item-count"></span></h5>
    {% for product in products %}
    <div>
        <h3 id="product-name">{{ product['product_name'] }}</h3>
        <h5 id="product-vendor">From 
            {% for vendor in vendors %}
                {% if vendor[1] == product['email'] %}
                    {{vendor[0]}}
                {% endif %}
            {% endfor %}
        </h5>
        <h3 id='product-price'>{{ product['price'] }}</h3>
        <img id = 'product-image' src="" alt="">
    
        <button id="{{product['product_id']}}" onclick="add_to_cart({{product['product_id']}})">Add to Cart</button>
        
    </div>
    {% endfor %}
</div>
-->         
{% endblock %}


