{% extends "base.html" %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
</head>
<body>
    <div class="d-flex justify-content-center">
        <div class="w-75 bg-light border m-2 text-center rounded-5">
            <h1>Receipt</h1>
            <div class="d-flex justify-content-center">
            <ul class="list">

            </ul>
            <ul class="list">

            </ul>
        </div>

        <div class="bottom">
            <h3 class="text-align-left mb-15px "><span>Total</span>:</h3>
            <h4 class="text-align-left">Order number:56</h4>
        </div>
        </div>
    </div>
</body>      
{% endblock %}