{% extends "base.html" %}
{% block body %}
<!--receipt.html original

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
</head>
<body>
    <div class="d-flex justify-content-center">
        <div class="w-75 bg-light border m-2 text-center rounded-5">
            <h1>Receipt</h1>
            <div class="d-flex justify-content-center">
            <ul class="list">

            </ul>
            <ul class="list">

            </ul>
        </div>

        <div class="bottom">
            <h3 class="text-align-left mb-15px "><span>Total</span>:</h3>
            <h4 class="text-align-left">Order number:56</h4>
        </div>
        </div>
    </div>
</body>      
-->

<div>
    <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
              <div class="card-body p-4 p-md-5">

                <h2 class="pb-md-0 mb-md-4">Receipt</h2>

                    <ul class="list">
        
                    </ul>
                    <ul class="list">
        
                    </ul>
        
                <div class="bottom">
                    <h3 class="text-align-left mb-15px "><span>Total</span>:</h3>
                    <h4 class="text-align-left">Order number:56</h4>
                </div>

            </div>
          </div>
        </div>
      </div>
    </section>
</div>     
{% endblock %}