{% extends "base.html" %}
{% block body %}
<!-- reviews.html original -->
<div class="bg-white rounded p-2">
    <h1>
        Reviews
        {% if product%}
        <span> for {{product[0]}}</span>
        {%endif%}
        : 
    </h1>
    {% if product%}
    {%set id = product[1]%}
    <a href="{{url_for('new_review',id=id)}}"><button>Write a review for this product!</button></a>
    {%endif%}
    {% for review in reviews %}
        <div class = "mt-2 border p-2">
            <h3>Rated {{review['rating']}} out of 5 </h3> <h6>Reviewed on {{review['review_date']}}</h6>
            
            <p>
                {{review['review_description']}}
            </p>
        </div>
        
    {% endfor %}
</div>
{% endblock %}